name: learn-github-actions
run-name: ${{ github.actor }} is learning GitHub Actions
on: 
  push: 
    branches: [master]
  pull_request: 
    branches: [master]
jobs:
  init:
    runs-on: ubuntu-latest
    strategy:
      matrix: 
        node-version: [ 16.4.0 ]
    steps:
      - uses: actions/checkout@v3
      - name: Staring Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with: 
          node-version: ${{ matrix.node-version }}
      - name: install modules
        run: npm install
      - name: build project
        run: npm run build
      - name: check jest tests
        run: npm run test